#Executibles
hotfloorplan
hotspot
libhotspot.a

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*cell*

# Misc Hotspot generated
*.ptrace
*.flp
*.config
*.data
*.lcf

#IDE files
.idea*
